<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="sideMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="image" />
  <ion-card>
    <ion-card-header>
      <ion-card-title>Vincent - 00000019941 Kelas AL</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p></p>
      <p>
        Saya mengerjakan aplikasi ini bersama Celvyn Yulian, Fenri Mintardja,
        Grendi Nugroho, Jonathan, Mikhail Aresa, Stefanus Dwitra Lauwrendo, dan
        Viriya Lucky.
      </p>
      <p>
        Sumber pengerjaan berasal dari modul mingguan dan dokumentasi resmi dari
        Ionic
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
