<ion-header>
  <ion-toolbar>
    <ion-title>Tambah Barang</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Image URL</ion-label>
        <ion-input type="text" ngModel name="imageUrl" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Jenis</ion-label>
        <ion-select placeholder="Select One" (ionChange)="jenisBarang($event)">
          <ion-select-option value="cpu">CPU</ion-select-option>
          <ion-select-option value="gpu">GPU</ion-select-option>
          <ion-select-option value="motherboard">Motherboard</ion-select-option>
          <ion-select-option value="ram">RAM</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Merk</ion-label>
        <ion-input type="text" ngModel name="merek" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Model</ion-label>
        <ion-input type="text" ngModel name="model" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Harga</ion-label>
        <ion-label position="stacked">Rp</ion-label>
        <ion-input type="number" ngModel name="harga" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Stock</ion-label>
        <ion-input type="number" ngModel name="stock" required></ion-input>
      </ion-item>
      <ion-item *ngIf="jenis != 'gpu'"
        ><ion-label>Detail Produk</ion-label></ion-item
      >
      <ion-grid *ngIf="jenis == 'cpu'">
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="stacked">Base Clock</ion-label>
              <ion-input
                type="number"
                ngModel
                name="base_clock"
                required
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="stacked">Boost Clock</ion-label>
              <ion-input
                type="number"
                ngModel
                name="boost_clock"
                required
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="stacked">Core Count </ion-label>
              <ion-input type="number" ngModel name="core" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="stacked">Thread Count</ion-label>
              <ion-input
                type="number"
                ngModel
                name="thread"
                required
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="jenis == 'ram'">
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="stacked">Speed</ion-label>
              <ion-input
                type="number"
                ngModel
                name="speed"
                required
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="stacked">Ukuran</ion-label>
              <ion-input
                type="number"
                ngModel
                name="ukuran"
                required
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="jenis == 'motherboard'">
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="stacked">Chipset</ion-label>
              <ion-input
                type="text"
                ngModel
                name="chipset"
                required
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="stacked">Merek Processor</ion-label>
              <ion-input
                type="text"
                ngModel
                name="merek_proci"
                required
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <ion-button
      type="submit"
      expand="block"
      (click)="onSave()"
      [disabled]="!form.valid"
      >Submit</ion-button
    >
  </form>
</ion-content>
